<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%@chat_usersTokens.each_key do |chat_users|%>
    <%=chats_list(chat_users).html_safe%>
  <%end%>
  
  <a href="#">About</a> 
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav -->


<span class="btn-users-list" onclick="openNav()" >Users List</span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  <%@chat_usersTokens.each_key do |chat_users|%>
    <%=chat_message_block(chat_users).html_safe%>
  <%end%>
</div>




<%content_for :header_tags do %>
  <script>
    <%
       
    %>
    window.userToken = "<%=@signature%>"
  </script>

  <%=stylesheet_link_tag 'global_chat_window',  :plugin => 'redmine_phoenix_socket' %>

  
<%end%>

<%content_for :footer_tags do %>
  <%=javascript_include_tag("phoenix.js",    :plugin => "redmine_phoenix_socket")%> 
  <%=javascript_include_tag("socket.js",     :plugin => "redmine_phoenix_socket")%> 
  <%=javascript_include_tag("global_chat.js",:plugin => "redmine_phoenix_socket")%> 
  <%=javascript_include_tag("app_socket.js", :plugin => "redmine_phoenix_socket")%>  
  <%=javascript_include_tag("global_chat_class.js", :plugin => "redmine_phoenix_socket")%>  

  

<%end%>

<script type="text/javascript">
   /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      loadUserChat()
  }

  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
  } 

  function loadUserChat() {

    socket.connect();
    <%@chat_usersTokens.each do |chat, usersToken|%>
      var user<%=chat.gsub('-', '_')%> = new UserChat("global_chat", '<%=chat%>', socket, '<%=usersToken%>');
    <%end%>
    //var user1_5 = new UserChat("topic", "subtopic", socket);
    //new UserChat("global_chat", "1-8", socket);
    //new UserChat("global_chat", "1-9", socket);
  } 
 
</script>


